.cbp-fwslider {
	position: relative;
	overflow: hidden;
	padding: 40px 0 60px;
	
}

.cbp-fwslider ul {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	list-style-type: none;}

.cbp-fwslider ul li {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
	float: left;
	display: block;
	margin: 0;
	padding: 0;
}

.cbp-fwslider ul li > a,
.cbp-fwslider ul li > div {
	display: block;
	text-align: center;
	outline: none;
}

.cbp-fwslider ul li > a img {
	border: none;
	display: block;
	margin: 0 auto;
	max-width: 75%;
}

.cbp-fwslider nav span {
	position: absolute;
	top: 50%;
	width: 50px;
	background:rgba(68,66,66,1.00);
	color: #fff;
	font-size: 50px;
	text-align: center;
	margin-top: -50px;
	line-height: 50px;
	border-radius:40px;
	cursor: pointer;
	margin-right:7%;
	margin-left:7%;
	font-weight: normal;
}

.cbp-fwslider nav span:hover {
	background:rgba(153,4,4,1.00);
}

.cbp-fwslider nav span.cbp-fwnext {
	right: 0px;
}

.cbp-fwslider nav span.cbp-fwprev {
	left: 0px;
}

.cbp-fwdots {
	position: absolute;
	bottom: -5px;
	white-space: nowrap;
	text-align: center;
	width: 100%;
}

.cbp-fwdots span {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 4px;
	border-radius: 40%;
	cursor: pointer;
}
.cbp-fwdots span:nth-child(1) { background-image:url(2s---copia.jpg);}
.cbp-fwdots span:nth-child(2) { background-image:url(1s---copia.jpg);}
.cbp-fwdots span:nth-child(3) { background-image:url(3s---copia.jpg);}
.cbp-fwdots span:nth-child(4) { background-image:url(4s---copia.jpg);}
.cbp-fwdots span:nth-child(5) { background-image:url(5s---copia.jpg);}
.cbp-fwdots span:nth-child(6) { background-image:url(6s---copia.jpg);}
.cbp-fwdots span:nth-child(7) { background-image:url(7s---copia.jpg);}
.cbp-fwdots span:nth-child(8) { background-image:url(8s---copia.jpg);}
.cbp-fwdots span:nth-child(9) { background-image:url(9s---copia.jpg);}
.cbp-fwdots span:nth-child(10) { background-image:url(10s---copia.jpg);}
.cbp-fwdots span:nth-child(11) { background-image:url(11s---copia.jpg);}
.cbp-fwdots span:nth-child(12) { background-image:url(12s---copia.jpg);}
.cbp-fwdots span:hover {opacity:.4;}

.cbp-fwdots span.cbp-fwcurrent {
	box-shadow: 0 0 0 4px rgba(68,66,66,.70);
	-webkit-transition: box-shadow 0.2s ease-in-out;
	-moz-transition: box-shadow 0.2s ease-in-out;
	transition: box-shadow 0.2s ease-in-out;
}